*.go
*.log
*.tar.gz
*~
tmp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
config.status
configure
install-sh
m4
missing
/build-aux
/modules/daemon/config.scm
/scripts/guile-daemon
